body{
background: url(../img/dark_wall.png) fixed ;background-repeat: no-repeat;background-size: 100% 100%;"
}
/*sass variables used*/
$full:100%;
$auto:0 auto;
$align:center;

@mixin disable{
  outline:none;
  border:none;
}

@mixin easeme{
  -webkit-transition:1s ease;
  -moz-transition:1s ease;
  -o-transition:1s ease;
  -ms-transition:1s ease;
  transition:1s ease;
}

/*site container*/
.wrapper{
      border:1px solid white;
        width:750px;
       height:auto;
       margin-left: 600px;
        background-color: white;
}

h1{
  text-align:center;
  padding:30px 0px 0px 0px;
  font:25px Oswald;
  color:black;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  margin-bottom:20px;
}

p{
  font:13px Open Sans;
  color:#6E6E6E;
  text-shadow:#000 0px 1px 5px;
  margin-bottom:30px;
}

.form{
  width:$full;
  margin-left:300px;
  margin-right:300px;
  
}
 h4{
      color:black;
    }
input[type="text"],input[type="email"],input[type="password"]{
  width:95%;
  padding:15px 0px 15px 8px;
  border-radius:5px;
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.3), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(0,0,0,0.2);
  @include disable;
  border:1px solid rgba(0,0,0,1);
  margin-bottom:10px;
   margin-left:40px;
   margin-right:50px;
  color:#6E6E6E;
  text-shadow:#000 0px 1px 5px;
  font-size:24px;
}
input[type="checkbox"]{
   color:white;
   margin-left:40px;
}
select{
  width:95%;
  height:50px;
  margin-bottom: 20px;
  margin-left: 40px;
  background:rgba(0,0,0,0.2);
  color:#6E6E6E;
  font-size:24px;
}

button[type="submit"]{
  width:100%;
  margin-left: 20px;
  margin-right: 20px;
  padding:15px;
  border-radius:5px;
  @include disable;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
  background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
  background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
  font:14px Oswald;
  color:#FFF;
  text-transform:uppercase;
  text-shadow:#000 0px 1px 5px;
  border:1px solid #000;
  opacity:0.7;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.7);
  border-top:1px solid rgba(255,255,255,0.8)!important;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
}

input:focus{
  box-shadow:inset 4px 6px 10px -4px rgba(0,0,0,0.7), 0 1px 1px -1px rgba(255,255,255,0.3);
  background:rgba(0,0,0,0.3);
  @include easeme;
}

button[type="submit"]:hover{
  opacity:1;
  cursor:pointer;
}

.name-help,.email-help,.username-help,.password-help,.address-help{
  display:none;
  padding:0px;
  margin:0px 0px 15px 0px;
}
